<% fullname = "#{@user.first_name}" + " #{@user.last_name}" %>
<% provide(:title, "All Posts for #{fullname}") %>
<h1>All Posts for <%= fullname %>:</h1>


<ul class="Posts">
    <% @posts.each do |user_post| %>
        <%= link_to user_post.id, user_post_path(@user, user_post) %><br>
    <% end %>
</ul>

<%= link_to "New Post", new_user_post_path(@user) %><br>

